# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.venv/

# Ignore debug
.venv/


# Ignore other files, just upoload the code for now
/LearnedDomains
#/GeneratedTriples
/DataFrames/*
