# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.venv/

# Ignore debug
.venv/
.vscode/

# Ignore log files
*.log

# Ignore other files, just upoload the code for now
/Examples/*
/validator/*
/code/old-code/
/code/back-up
/TrajectoriesSAM
/Statistics
/LearnedDomains
/GeneratedTriples
/Results/*
/code-backup/*

# Ignore data files
/DataFrames/*

#Ignore validator and planner
/ENHSP-Public-enhsp-20
/VAL-master

#ignore personal configuration
/code/config

# Ignore OS-specific files
.DS_Store
Thumbs.db